@model SiteSesc.Models.ModelPartialView.CursoItem

<div class="col-xxl-3 col-lg-4 col-md-6">
    <div class="course-item mb-30">
        <div class="course-img">
            <img src="@Model.CourseImage" alt="@Model.CourseTitle" loading="lazy" >
        </div>
        <div class="course-content">
            <div class="course-content-top">
                <div class="course-top-title">
                    <h6>@Model.CourseCategory</h6>
                </div>
            </div>
            <h5 class="course-content-title"><a href="@Url.ActionLink("Details","Atividade", new{cdelement = Model.CdElement})">@Model.CourseTitle</a></h5>
            <div class="course-content-bottom">
                <div class="course-bottom-info">
                    <span>@Model.CourseLocation</span>
                </div>
                <div class="course-bottom-price">
                    <label>A partir de </label><span>R$ @Model.CoursePrice</span>
                </div>
            </div>

                <a href="@Url.ActionLink("Details","Atividade", new{cdelement = Model.CdElement})" class="theme-btn course-btn">Clique aqui</a>
            <div class="course-hover-cart-btn">
            </div>
        </div>
    </div>
</div>